[2016-09-23 13:43] der-test opened #2 "No fuel data sine 2016-09-22"
Sine 2016-09-22 the module does not display any data and shows the following error in the log:
`Error no fuel data`

Screenshot of the module as displayed in MagicMirror:
![mmm-fuel-20160923](https://cloud.githubusercontent.com/assets/13119767/18787174/f2e1e3a0-81a1-11e6-8d09-6afaffd52658.png)

I did not change the configuration of MagicMirror, MMM-fuel or the Raspberry itself since 2016-09-19. Wh

[2016-09-23 17:43] fewieden commented on #2
Hmm for me it's still working. The error message should come up, if you get a response with statuscode 200, but the ok property in the json response is not true. Did you try to request the URL in the browser, maybe your API key got suspended. https://creativecommons.tankerkoenig.de/json/list.php?lat=52.518611&lng=13.408333&rad=5&type=diesel&apikey=APIKEY&sort=dist do you receive some data?

[2016-09-23 20:23] der-test commented on #2
You are right, my API key got suspended. I will contact tankerkoenig to get the suspension removed.

[2016-09-23 20:23] #2 closed

[2016-09-23 20:48] fewieden commented on #2
Take a look in their terms of use there are restrictions for smart mirrors, I will increase the defaults and add a notice to readme

[2016-10-11 16:17] ostfilinchen opened #4 "show more than 1 type of gas"
[MMM-Fuel.zip](https://github.com/fewieden/MMM-Fuel/files/522366/MMM-Fuel.zip)
here the file for Change to the original

[2016-10-12 09:13] ostfilinchen commented on #4
file:///home/pi/MagicMirror/modules/MMM-Fuel/MMM-Fuel.js

i have change this file again, to show if the gas station is open or not. you can enable this with the parameter "open" set to true in the config.js.

[2016-10-12 09:48] fewieden commented on #4
will check this out, but two other modules will have a higher priority first

[2016-10-12 11:44] ostfilinchen commented on #4
no Problem - i've a script, that works for me :-)

[2016-10-20 14:14] #4 closed

[2016-11-17 20:27] lolobyte opened #5 "Deactivate toggeling “rotateInterval:”"
Hi, great job.
How to deactivate toggeling “rotateInterval:”

[2016-11-17 21:53] fewieden commented on #5
there is a new config option **rotate** for it

[2016-11-17 22:43] #5 closed

[2016-11-28 23:42] lolobyte opened #6 "Zero € prise"
In my search of available stations is one that didn't have the sort of E10 for sale.
The MMM-Module show me 0€ for the E10. ;-)

After my kommunikation with the tankerkoenig api-key  distibutor, is it not realy klear what we kann do.
Is it possible to check this issue in your SW?

The Station that i know without E10 is:

Tankstelle ED-Neckarsulm in 74172 Neckarsulm, Rötelstrasse 35

[2016-12-05 12:50] fewieden commented on #6
Fixed with https://github.com/fewieden/MMM-Fuel/commit/2be05b8eb2ab68bfbee4a38ae8d11fcb71b34a18

if there is 1 fuel type present in config and thie price is 0€ the gas station gets completely removed from the display

if there is more than one fuel type in config and one of them has a price greater than 0€ the gas station will be displayed at the end of the list, otherwise the gas stations is also

[2016-12-05 12:50] #6 closed

[2016-12-25 10:52] Dom1n1c opened #7 "Fading Brightness like the Calendar items"
To have a clearer layout.

[2016-12-25 10:53] Dom1n1c opened #8 "Disable Map Icon / Distance"
not necessary, if address shown.

[2016-12-25 10:57] Dom1n1c opened #9 "split shortenText value in two items: shortenName and shortenAddress"
because the station name has less space, than the address underneath.

[2016-12-25 22:00] #8 closed

[2016-12-25 22:01] #9 closed

[2017-02-02 15:23] ps-logic opened #11 "MIME nosniff"
Thanks for sharing this great module.

Unfortunatally I'm getting a MIME error saying "X-Content-Type-Options: nosniff".
Anyone there who can help me?

Thanks guys!

[2017-02-02 20:08] fewieden commented on #11
will check it the next days. do you have any logs or more details to provide?

[2017-02-05 15:17] fewieden commented on #11
Can't reproduce this error with my config. Can you send me your config on the forum?

[2017-02-22 06:36] Softyathome commented on #11
Thanks for your module.
I hope, my wife will see the possibility to save money :-)
But before i can show her the new module i need a little help.
I just get "Lade ..." on my mirror. Do you have an idea why?
Maybe the "request" missing? How can i check this?
Thanks

[2017-02-22 09:45] Softyathome commented on #8
Sorry - same issue for me.
We'll have the address - how can i disable the distance?
Thanks

[2017-02-22 09:47] Softyathome opened #13 "How to disable the distance"
Sorry - same issue for me.
We'll have the address - how can i disable the distance?
Thanks

[2017-02-22 09:54] Softyathome opened #14 "Not all station names are shown - and feature wish list :-)"
Really great and useful :-)
But:
- at the petrol stations in my area, the names of some petrol stations (HEM, SB, Esso) are not shown. How can i change this / what do i need to adjust?
- how can i select only certain petrol stations (not only in my vicinity, but on my way to work?
And only display this stations? Whats about the specific json file from "Tankerkoenig"?

Maybe for the next release -

[2017-02-22 10:12] fewieden opened #15 "Module is not loading"
I created a new issue, as it doesn't belong to the one you commented on.

@Softyathome

[2017-02-22 10:15] fewieden commented on #15
Did you follow the install instructions? To install the dependencies go to the module directory
```cd ~/MagicMirror/modules/MMM-Fuel``` then install them ```npm install --productive```.

Any errors in the electron or browser console, errors in the terminal or pm2 logs?

[2017-02-22 10:26] fewieden commented on #14
The names are probably an issue of the provided data, to check this I would need your coordinates (you can send me them as a private message on the forum https://forum.magicmirror.builders/topic/606/mmm-fuel).

The API Request is limited to 25km, if your way to work is in this range maybe a whitelist of stations could be implemented.

What happens when the sorting is by diesel price and you only d

[2017-02-22 10:31] fewieden commented on #13
You could achieve this with custom.css

selecting the table -> every second row (odd), because even is the address -> selecting column (nth-child) -> applying rule: ```display: none;```

[2017-02-22 10:46] Softyathome commented on #15
Yes, npm install --productive runs without errors.

But in the meantime i did a system update and it seems that the error is gone.
Thanks for your help.

[2017-03-12 08:48] fewieden commented on #11
Does your issue still persist?

[2017-03-12 08:49] fewieden commented on #13
Does your issue still persist?

[2017-03-12 08:49] #15 closed

[2017-03-17 10:36] #13 closed

[2017-03-17 10:36] #11 closed

[2017-03-20 04:13] Sennahoj82 commented on #7
I share this view.
It would be wonderful if the module would get a fading option.

[2017-04-13 15:42] matthes0815 opened #21 "Rounded prices"
Platform (Hardware/OS):

Node version:
6.10.2
MagicMirror version:
latest
Module version:
latest
Description of the issue:
The prices are rounded to two decimal places since a few days.

[2017-04-20 13:06] fewieden commented on #21
Hi @matthes0815, this came with the latest update, I might revert it to be configurable in the next days

[2017-04-28 10:26] fewieden commented on #21
https://github.com/fewieden/MMM-Fuel/releases/tag/v.1.1.1

[2017-04-28 10:26] #21 closed

[2017-04-28 10:41] fewieden commented on #14
https://github.com/fewieden/MMM-Fuel/projects/1

[2017-04-28 10:41] fewieden commented on #7
https://github.com/fewieden/MMM-Fuel/projects/1

[2017-06-04 11:24] micherlinman opened #23 "Error no fuel data"
Platform (Hardware/OS):
Raspberry Pi 3 Linux raspberrypi 4.4.11-v7+

Node version:
v6.10.3

MagicMirror version:
yesterday installed

Module version:
v1.1.1

Description of the issue:
I copied the Repo to my Modules folder, installed

in the MMM-Fuel folder and my config file is nearly a copy of the example:
`
{
    module: "MMM-Fuel",

    position: "top_right",

    config: {

        api_key: "

[2017-06-04 14:36] micherlinman commented on #23
it was my mistake, i forgot to enable the api code. After enabling I got this error while starting:
`Whoops! There was an uncaught exception...
TypeError: Cannot read property 'statusCode' of undefined
    at Request.request [as _callback] (/home/pi/MagicMirror/modules/MMM-Fuel/apis/tankerkoenig.js:115:29)
    at self.callback (/home/pi/MagicMirror/modules/MMM-Fuel/node_modules/request/request.js:

[2017-06-04 14:36] #23 closed

[2017-06-06 06:50] der-test commented on #23
@micherlinman You may want to remove your API code from your post. Otherwise it may be used by someone else and get blocked.

[2017-08-16 08:57] lesajo opened #24 "unexpected token"
Platform (Hardware/OS):

Node version: latest

MagicMirror version: latest

Module version: latest

Description of the issue:

                {
                        module: "MMM-Fuel",
                        header: "Aktuelle Spritpreise",
                        position: "top_right",
                        config: {
                                api_key: "this is my key"

[2017-08-16 08:58] lesajo commented on #24
forget a "," after key... :D

[2017-08-16 08:58] #24 closed

[2017-10-26 11:15] Dom1n1c opened #26 "Overwrite Station name"
since some stations have weird names,
i would like to have options for overwriting the address and station name.

In case of the station name, this is, what i use to overwrite the station Name.

config.js
[code]

MMM-Fuel.js

[code]

[2017-11-09 10:39] MManu88 opened #27 "Modul wird nicht angezeigt"
Ich habe das Modul wie in der Beschreibung steht installiert.
Soweit so gut. Leider wird das Modul bei mir nicht angezeigt.
Den API Key habe ich angefordert und eingefügt.
Die Koordinaten habe ich geändert.
Und die Position habe ich auf top_center geändert. Leider bleibt der Bildschirm in diesem Bereich einfach schwarz. Woran kann das liegen?

{
		    module: "MMM-Fuel",
		    position: "top_cente

[2017-12-06 20:24] fewieden commented on #27
I just used your config and I'm getting results for gas stations in Tettnang

[2018-01-07 23:30] CaptainF opened #28 "MMM-Fuel Modul zeigt falsche Tankstellen an"
Platform (Hardware/OS):pi3

Node version:?

MagicMirror version:2

Module version:MMM-Fuel

Description of the issue:
<h1>Hallo Zusammen,</h1>

bin absoluter Neuling! Ich habe das Modul MMM-Fuel installiert und es wird auch alles angezeigt. Nur nicht meine Tankstellen (Magdeburg), sondern welche aus Berlin. API Key habe ich eingegeben, Koordinaten sind mit drin... ich habe keine Ahnung woran es li

[2018-01-08 21:13] fewieden commented on #28
I will take a look later this week/weekend

[2018-02-02 15:23] #28 closed

[2018-02-02 15:23] #27 closed

[2018-02-02 15:24] #26 closed

[2018-02-05 12:42] githubhohdorfnet opened #29 "Fuel station name mapping"
Platform (Hardware/OS):

Node version:

MagicMirror version:

Module version:

Description of the issue:

[2018-02-05 12:43] githubhohdorfnet commented on #29
Would it be possible to allow some name mapping for specific fuel stations? Some of the names are not really fitting, so it would be nice if we could do a mapping from this "bad" name to a user defined one.

[2018-02-05 20:00] fewieden commented on #29
Can you implement an config option object for it?

[code]

[2018-03-06 21:37] Jonathan214 commented on #27
Hello, same problem here, i got this config:

{
		        module: "MMM-Fuel",
		        position: "bottom_right",
		        config: {
		            api_key: "d74db2a1-54af-9ef9-7eef-bb61c77a30b2",
		            lat: 53.050241,
		            lng: 8.646684499999992,
		            types: ["diesel"]
		        }
    		},

with the Key i got from "Tankerkoenig" and the Screen is black but I don't get an

[2018-03-06 21:43] Jonathan214 opened #30 "Module not shown on screen"
Hello, same problem here, i got this config:

{
module: "MMM-Fuel",
position: "bottom_right",
config: {
api_key: "d74db2a1-54af-9ef9-7eef-bb61c77a30b2",
lat: 53.050241,
lng: 8.646684499999992,
types: ["diesel"]
}
},

with the Key i got from "Tankerkoenig" and the Screen is black but I don't get any errors.
I installed "request".
@raspberrypi:~ $ node -v
v6.13.0
pi@raspberrypi:~ $ npm -v
3.10.10

i

[2018-03-06 21:49] Jonathan214 commented on #30
I got the issue, when you download this file the folder name is "MMM-Fuel-master" and it needs to be
"MMM-Fuel". I Leave this open so you can see and maybe change it

[2018-03-06 22:50] fewieden commented on #30
The problem is you downloaded the project and didn't clone it, github adds -master (the branch name) at the end

[2018-03-06 22:50] #30 closed

[2018-05-08 21:01] fewieden commented on #27
@MManu88 that's because you downloaded the modul (github adds the branch name at the end, in this case master), if you clone it it has the right name.

[2018-06-03 14:08] schiegg opened #31 "Radius option ignored when provider spritpreisrechner selected"
Platform (Hardware/OS): Docker container on Ubuntu 16.04 LTS
Node version: latest (02.06.2018)
MagicMirror version: latest (02.06.2018)
Module version: latest (02.06.2018)

**Description of the issue:** When provider: "spritpreisrechner" is selected, the module shows gas stations over 12km away although radius option is set to 7. In a 7km radius there would be other gas stations available that are

[2018-06-04 20:18] fewieden commented on #31
It's a year ago I did this. I remember `spritpreisrechner` doesn't provide a radius option like `tankerkoenig`, that's why I had to do kind of a custom solution with creating a square/rectangle.

Can you provide your Config without api key, so i can have a look?

[2018-06-05 08:27] schiegg commented on #31
Im near the border to austria so i just want to get the prices of the two gas stations that are really close to me just to decide if its profitable to drive the 6km more.

I got an api key for `tankerkoenig` but i didnt need it in this configuration, do I? Here is what I copied out of my config.js (changed the lat/long a bit for privacy reasons):

`{ module: "MMM-Fuel", position: "top_right", conf

[2018-06-05 19:57] fewieden commented on #31
Yes, spritpreisrechner doesn't need an api key only tankerkoenig. Spritpreisrechner has maintainance right now :/ Why do you have radius 4km in the config, but in your first message you said 7km radius?

[2018-06-06 08:02] schiegg commented on #31
It was a mistake, I have to drive approximatly 6-7km more to get to the austrian gas station, so the radius is 3-4km.

[2018-06-06 20:58] fewieden commented on #31
I just saw that they have a proper API https://api.e-control.at/sprit/1.0/doc/public. I will see if I can implement that one soon and get rid of the old one. Can you tell me which gas stations you would expect to be displayed and which are actually displayed. So I have a reference when I'm implementing the new version.

[2018-06-07 14:51] schiegg commented on #31
And a new modern web design 👍
Right now the module doenst work, maybe because of the API change?
It displayed the BP in Schärding and Diskont Lichtenauer in Münzkirchen, but I would like to get information about Turmöl in Freinberg and Freie Avia Tankstelle in Schardenberg.

[2018-06-08 13:51] schiegg commented on #31
Im so sorry @fewieden... Its embarassing but I made a terrible mistake with the distances... you were right: 6-7km to the gas stations (radius). Good that Im no geographer 🙈

This explanation makes sense. Like you predicted it shows the AVIA but not the Turmöl station (the cheaper one most of the time). The gas stations at the border arent the cheapest, no results will be the case often then.

[2018-06-09 05:13] fewieden commented on #31
Did you try my new version?

I tried to set the gps coordinates more to the north west in germany, in the hope that it might return less than 10 stations because they could use an internal max radius option, but no luck.

[2018-06-12 14:30] schiegg commented on #31
Sry for the late reply, my car got an serious oil problem and I had to look for a new one...

Yes I pulled the debug branch and now sometimes the AVIA pops up but usually it shows no stations.

Too bad :/ Would have been a simple solution... Any other ideas?

[2018-06-12 16:02] fewieden commented on #31
No unless e-control supports querying with a radius, some sort what the old api supported

[2018-06-12 17:49] schiegg commented on #31
What if we take the value of the most expensive gas station and write a ">" before this value for all gas stations not providing a value after the radius filter applied? So there would be a value and at least a bit information..

[2018-06-12 20:07] fewieden commented on #31
You can `git pull` for the new version

[2018-06-19 20:21] #31 closed

[2019-04-04 20:08] BoraSchninsky opened #34 "SHOW GAS STATIONS MAP whitout Voice Module"
Please activate SHOW GAS STATIONS MAP whitout Voice Module!!
i think its possible..
thanks

[2019-04-05 13:37] Jonas2903 commented on #14
This issue is still open and maybe I found a solution for you:
Just add this line to the function (const) "normalizeStations" the file /module/MMM-Fuel/api/tankerkoenig.js

`stations[index].name = value.brand;`

with this the brand is shown and not the name of the gas station.

[2019-04-08 06:04] Kugelfang666 opened #35 "Feature Request: remove Zip Code and City from Adress-line"
thanks for this fantastic module. Maybe one idea to improve even further:

It would be great to have a way of modifying the degree of detail for the address line. I've a mirror only small space for this add-on and since I'm just looking for gas stations close by all the addresses beginn with the same data (identical zip code, and city). However, due to space constraints the actual information (str

[2019-09-22 11:06] Kugelfang666 opened #36 "&#8230 in all strings"
Platform (Hardware/OS):
      Raspberry Pi 3
MagicMirror version:
      latest
Module version:
      2.0
Description of the issue:

on the screen all lines are terminated with "&#8230". It appears that something is wrong with the strings

it looks like this:
[code]

with previous versions I didn't have this problem. could it be that this behavior is introduced since 2.0?

[2019-09-23 19:22] fewieden commented on #36
Could be, for some reason it cannot render the ellipsis in your MagicMirror.

[2019-09-23 21:03] Kugelfang666 commented on #36
Thanks for looking I to this. What i don’t understand is why there is an ellipsis in the middle of a word

[2019-10-04 18:45] rabbit83ka commented on #36
I can confirm this, same behavior here (also a Pi3 with latest Magic Mirror and MMM-Fuel module).

[2019-10-05 08:54] fewieden commented on #36
I can only produce this issue with the config option `shortenText: 24` active. For the full text, there is no ellipsis.

[2019-10-05 09:02] fewieden commented on #36
I applied now a fix to the develop branch, please try and test it.

[code]

[2019-10-05 09:09] rabbit83ka commented on #36
The fix works. Thanks!

[2019-10-05 09:25] #36 closed

[2019-10-07 17:01] Kugelfang666 commented on #36
I can confirm also works for me! Thanks a lot for looking into this

[2019-10-22 11:35] sdetweil opened #38 "UpdateInterval shorter than 15 minutes causes ECONNREFUSED api response"
Platform (Hardware/OS):

Node version:

MagicMirror version:
2.9
Module version:

Description of the issue:
set the UpdateInterval to 360000 (6 minutes in Milliseconds)

after a few cycles the api will fail (and not recover) with error  ECONNREFUSED

[2020-04-30 17:32] fewieden commented on #38
This issue is mentioned in the readme https://github.com/fewieden/MMM-Fuel#tankerkoenig-germany-only I also added it now to the config option specifically https://github.com/fewieden/MMM-Fuel/pull/42

[2020-04-30 17:32] #38 closed

[2020-05-05 13:42] Waynee91 opened #44 "Load Loop"
Platform (Hardware/OS): Raspberry Pi with latest Raspian Stretch

Node version:

MagicMirror version: 2.11.0

Module version: 2.1.0

Description of the issue: After installing the MMM-Fuel module and configuring this in the config.js file i got the problem that the prices will not be shown and i see only "Load".

My Configuration:
// Fuel
        {
            module: "MMM-Fuel",
            posit

[2020-05-05 13:56] Waynee91 commented on #44
If i change the type to "diesel" it will work but i need the prices for e5

[2020-05-07 18:32] Colemata opened #45 "Feature Request: Add support for USA"
It would be amazing to add support for USA! ❤️

[2020-05-07 18:59] fewieden commented on #44
Hi @Waynee91,

I can see 3 issues/improvements with your config:
1. Since you changed the fuel type, you also need to adjust sortBy. Please add `sortBy: "e5",` to your config.
2. You don't need to wrap quotes around numbers, this could actually result in issues with some modules.
3. If you do not differ from the default value you do not need to specify it in the config. Therefore you can remove th

[2020-05-07 19:02] fewieden commented on #45
Hi @Colemata, thanks for your interest in this module. Unfortunately, I didn't find a nice API for prices in the USA. If you can find one feel free to send a pull request with a new API provider implemented in the module.

Refer to https://github.com/fewieden/MMM-Fuel/tree/master/apis

[2020-05-07 19:21] fewieden commented on #44
I also just released a new version that has a fallback if sortBy is misconfigured, so it doesn't get stuck in loading.

[2020-05-24 05:46] #44 closed

[2020-06-13 01:40] RaspiManu commented on #34
Dear @fewieden ,
I really like your module MMM-Fuel and I got an IR frame for touch functionality on my Magic Mirror. Because I do not want to use voice commands, I would love to be able to open the map via tapping the module or somehting similar. Please consider doing @BoraSchninsky and me a favor.
Best wishes

[2020-06-26 23:18] uok825 opened #47 "Add support for Turkey please"
[https://collectapi.com/tr/api/gasPrice/akaryakit-fiyatlari-api](https://collectapi.com/tr/api/gasPrice/akaryakit-fiyatlari-api)

if its work can you support Turkey pls thanks for the module!

[2020-08-06 16:30] fewieden commented on #47
@uok825 thanks for the link. I added the labels for it. Feel free to send a pull request.

https://github.com/fewieden/MMM-Fuel/tree/master/apis#documentation-for-api-integration

[2020-09-29 03:11] MemBoi opened #52 "add suport for USA"
Platform (Hardware/OS):

Node version:

MagicMirror version:

Module version:

Description of the issue:

[2020-09-29 15:29] fewieden commented on #52
@MemBoi do you know about a free public API that provides the data you are asking for?

[2020-09-29 15:30] fewieden commented on #52
Duplicate of https://github.com/fewieden/MMM-Fuel/issues/45#issuecomment-625439806

[2020-09-29 15:30] #52 closed

[2020-10-01 09:17] TheStormbringer opened #53 "Feature? Show specific Gas Stations"
Hey guys,

I was wondering whether there could be an option to show _specific_ gas-stations instead of all gas stations within a radius based around static coordinates?
I was playing around with the tankerkoenig API-Map and found out that indeed every station has its own ID, but I've been (yet) unable to implement or modify the module accordingly as I am still new to this project.

The reason of m

[2020-11-24 22:36] sommer05 opened #54 "no Stations shown for Austri/Vienna"
when i try to get petrol stations for austria, with this config.js
		{
			module: "MMM-Fuel",
			position: "left",
			config: {
					lat: 48.114043,
				    lng: 16.282099,
					types: ["e5"],
        			}
				},
i'm still get "Lade..." line, but no data

if i use an api key and coordinates for germany - i get some.
so module seems to run ok in germany but not for austria
seems to be some api key

[2020-11-24 23:07] sommer05 commented on #54
found the solution by myself (for sure after writing this issue):
instead of spritkoenig you have to put in spritpreisrechenr in the "provider" field.
description is in my opinon not quite clear...
thx

[2020-11-24 23:07] #54 closed

[2020-12-28 16:02] fewieden commented on #53
@TheStormbringer in the meantime it is possible for the tankerkoenig API to request 10 specific station IDs.

A pull request should provide the possibility to use both functionalities: Radius search and ID search.

[2020-12-30 17:37] TheStormbringer commented on #53
Hey @fewieden,
I would like to excuse myself for a rather stupid question :/ Do you mean that tankerkoenig added the feature that 10 specific IDs can now be requested through their API, or that the module MMM-Fuel now offers an option to request 10 IDs?

[2020-12-31 09:21] fewieden commented on #53
@TheStormbringer the functionality only exists on the API level. There was an attempt of a user to integrate it into the module, but it was never finished.

[2021-01-01 09:44] fewieden commented on #54
@sommer05 do you think it is now clearer as before? I added the provider details into the specific section as well.

https://github.com/fewieden/MMM-Fuel#spritpreisrechner-austria-only

[2021-02-15 16:36] TheDuffman85 commented on #53
Hi. I performet a pull request which covers this feature. See PR #57.

[2021-04-07 20:59] waldmeisterx opened #60 "No data when using stationIds"
Platform (Hardware/OS):

Node version:

MagicMirror version: 2.15.0

Module version: 2.2.0

Description of the issue:
Very happy to find new option of using stationIds instead of radius and max.
After adding stationIds with one or two stations there are no stations showing up, only "Lade..."

This is my module config:

[code]
Running this config I found following lines in debug.log

[code]

Changi

[2021-04-08 18:48] fewieden commented on #60
@waldmeisterx since you removed your coordinates I can only guess what could be wrong. I assume you were running into the same issue as the user in the forum https://forum.magicmirror.builders/post/90310.

If your stations are included in the default radius of 5km then there is currently an [issue](https://github.com/fewieden/MMM-Fuel/pull/59#issuecomment-813537136) that we are going to solve. If

[2021-04-08 20:16] fewieden commented on #60
@waldmeisterx I just released a new version of this module which should fix the issue I described.

[2021-04-08 20:52] waldmeisterx commented on #60
OK, thanks for the fast reply.
In MY real config there are real coordinates.

First, I tested the workaround (added radius: 0 to the config) and this one works.

This moment I saw release 2.2.1 and tried this one too (and removed radius: 0 again).
Result: I see 5 (open) fuel stations, instead of 1 (of my two configured, one is closed now!)
So it does not only select the configured Ids.
If I'm goin

[2021-04-09 06:44] fewieden commented on #60
@waldmeisterx if you only care about the two specified stations it is intended to set the radius to 0. Otherwise, it will fetch the default of 5km. See description of radius for provider tankerkoenig `Valid range is 0-25. Set to 0 to disable. Not required if stationIds are provided.`  in the [readme](https://github.com/fewieden/MMM-Fuel#tankerkoenig-germany-only)

The reasoning behind this is that

[2021-04-09 21:17] waldmeisterx commented on #60
@fewieden ok, I understand. I set radius: 0 and see only my two stations, but...

It seems that these two entries do not update their prices. Both are fix at 1.349 EUR.
My smarthome polls the same two stations and the prices have changed several times today.
Might there be a (new) problem with updating the data?

[2021-04-11 17:30] fewieden commented on #60
@waldmeisterx can you please give some more details that might help to investigate the issue?

- Does your smarthome also use the tankerkoenig API?
- Does the mirror update it at one point?
- Can you see error logs in the console?
- If the issue appears and you restart the mirror does it fetch the correct price or is it still outdated?

[2021-04-11 19:41] waldmeisterx commented on #60
@fewieden sure, no problem

I use home assistant (HA) as smart home and there is an integrated module for tankerkoenig, but it's written in python I think.
Here you can find the details https://github.com/home-assistant/core/tree/dev/homeassistant/components/tankerkoenig
(sorry, I'm not good in js or python, but maybe the code will help you).

I think, the HA component also uses the same tankerkoe

[2021-04-12 07:11] waldmeisterx commented on #60
This morning it seems to be ok, the values are the same
![image](https://user-images.githubusercontent.com/2168391/114354645-cc3a1b00-9b6e-11eb-8920-50b001e9a039.png)

I can't find any entries in the debug log.
So I don't know if it is necessary to do more investigations for it?
If you don't think so, I'm going to close this issue.

[2021-04-14 07:09] fewieden commented on #60
@waldmeisterx I would surveil the module a bit until it appears again.

- Did you see the module ever updating the price to something different than on initialization?
- The module updates every 30min. How frequently does your homesassistant update?

There is currently no option for more detailed logs.

[2021-04-14 10:34] waldmeisterx commented on #60
@fewieden
- yes, the module does price updates differenz from initialization
- HA updates prices every 5 mins
Currently, in addition I have included the HA tankerkoenig data with the MMM-homeassistant-sensors module from HA, which also provides custom naming and an station logo.

[2021-04-16 18:55] fewieden commented on #60
@waldmeisterx If the module updates in general, then it sounds more like a temporary hiccup or the difference between the 5min and 30min update interval to your home automation.

Feel free to reopen the ticket when this occurs again.

[2021-04-17 11:52] lexnared opened #62 "update MMM-Fuel"
Platform (Hardware/OS): Raspbbery Pi 3b+

Node version: v10.15.0

MagicMirror version: 2.11.0

Module version:

Description of the issue:

what do i have to do for an update MMM-FUEL?

[2021-04-17 14:13] waldmeisterx commented on #60
closed.

[2021-04-17 14:13] #60 closed

[2021-04-17 17:13] fewieden commented on #62
@lexnared you would open a terminal and go to the module directory. In most cases, this would be `cd ~/MagicMirror/modules/MMM-Fuel`.

Then you have to pull the newest version from git `git pull`.

To ensure you have all dependencies installed run `npm i --production`.

After that you can change the config and restart the mirror.

[2021-04-17 17:29] lexnared commented on #62
Okay, thanks 👍🏼

[2021-04-17 17:29] #62 closed

[2021-04-23 13:05] burberius opened #63 "Only displays "undefinded""
Platform (Hardware/OS): Raspberry

Node version: v10.24.0

MagicMirror version: current

Module version: current

Description of the issue:

Instead of the content of the module it just shows "undefined". I didn't use the display for a few weeks now and after starting it up now the fuel module just shows "undefined" after data is returned from the API.
When I open the "page" of the magic mirror vi

[2021-04-23 16:13] burberius commented on #63
I checked out previous versions and 2.1.2 works without problems.

The first station is named OIL! could that be a problem?

[2021-05-01 19:19] fewieden commented on #63
@burberius I don't think the name of the station should influence this. Can you please also post your config of the module? Make sure to remove the API key.

Since it is working if you open the page on the browser I expect it to be a rendering issue inside of electron. You can check the logs in the developer console for errors. To open DevTools, use the shortcut "Ctrl+Shift+I" or the <F12> key.

P

[2021-05-02 18:55] burberius commented on #63
[code]

Console log doesn't show any errors!

I'll try to find out the problem by applying the single commits.

[2021-05-02 20:26] burberius commented on #63
I narrowed the problem down to commit 61d2ece5c6cbdfd7a90692b2b32ad5f3097844b9
The previous one works fine, this one breaks it.
To eliminate the node version I also upgraded to v16.0.0

[2021-05-02 21:12] fewieden commented on #63
@burberius I just checked out the newest version of the module with the `develop` branch of MagicMirror. I entered your config and for me, the module is displaying fine.

Are you using electron on the Mirror?

![image](https://user-images.githubusercontent.com/9334168/116827726-db731e00-ab9a-11eb-9e9a-a2765608b3cc.png)

Looking at the commit that introduced the issue for you, I could imagine that

[2021-05-02 21:21] burberius commented on #63
I use the default installation of MagicMirror, so I guess it's electron.

Is there a way to see it's logs/console?

[2021-05-03 13:39] burberius commented on #63
Another thing I recognized is, I don't have to restart MM to trigger the problem. When I have to brocken commit checked out the "undefined" occures on the next reload.
And also when I change back it gets fine. Perhaps that helps.

[2021-05-03 19:34] burberius commented on #63
After trying different stuff I could narrow it down to the formatDistance method.
I then found that I really didn't have the latest version of MM. I thought it will always display a message at the top if it is outdated.
After updating it and taking the master version of MMM-Fuel it is now displayed as normal.
Sorry for the fuss!

[2021-05-03 19:34] #63 closed

[2021-06-01 09:03] belakeh98 opened #68 "Support for Queensland in Australia"
not sure if this is something on my end, but I have seemed to have done everything that needed to be done, where I am in Brisbane, Australia it says I don't need an apikey, is this true?
maybe i just need some help with the setup, not sure.
thanks.

[2021-06-02 03:08] fewieden commented on #68
@belakeh98 currently only New South Wales in Australia is supported. https://github.com/fewieden/MMM-Fuel#nsw-australia-nsw-only

If you find a [similar API](https://api.nsw.gov.au/Product/Index/22) for Queensland you can implement it like described [here](https://github.com/fewieden/MMM-Fuel/tree/master/apis#documentation-for-api-integration).

[2021-06-21 10:29] Martin2K02 opened #72 "Modul wird mit Abständen angezeigt"
Ich habe das Problem, dass wenn ich rotate deaktiviere, dann hat es solche blöden Abstände.
![image](https://user-images.githubusercontent.com/42065778/122748088-1ab11780-d28c-11eb-8acf-5ed42cee12a0.png)

Doch wenn ich rotate wieder aktiviere, dann nimmt es seine echte Darstellung war, bzw. hat nicht mehr diese Abstände. Ich möchte dies aber gerne ohne rotate benutzen und jeweils nur zu einem best

[2021-06-21 11:16] #72 closed

[2021-07-01 10:11] Mitonix opened #73 "Showing "undefined""
MagicMirror version: newest version

Module version: newest version

Description of the issue:
![Unbenannt](https://user-images.githubusercontent.com/63264821/124107527-9b7acb00-da65-11eb-9208-e6d8510bffa7.PNG)

It is displayed "undefined" when I use stationIds. I have stored the coordinates and the api_key with me, only not here.

My config:

          {

		       module: "MMM-Fuel",
			position:

[2021-07-02 09:51] Mitonix commented on #73
I had the problem with other modules: MMM-GPIO notifications and MMM-Screen-Powersave notification. Now it works again.

[2021-07-02 09:51] #73 closed

[2021-08-12 18:46] MacG-DD opened #75 "Show "Brand" instead of "Name""
I use Tankerkönig and it would make more sense to show "Brand" instead of "Name". The brand is provided by the API next to the name and address.

Some gas stations here have only capital letters in the name and others don't have the brand in the name. Anyway, that would give the table a more pleasing content than this mess.

In the name is usually also the address and we actually know our gas stat

[2021-09-09 23:19] nirvine commented on #68
V2 of the API for NSW FuelCheck includes Tasmania.

[2021-09-09 23:36] nirvine opened #76 "Feature Request: Show Prices for NSW"
Thank you so much for including NSW!
There are now more fuel types than only diesel and P95.
Fuel Type        Code
Ethanol 94       E94
Ethanol 105     E105
Unleaded 91    U91
Premium 95     P95
Premium 98     P98
Diesel               DL
Premium Diesel PDL
Biodiesel 20     B20
LPG                 LPG
CNG/NGV        CNG
LNG                 LNG
EV charge         EV
Hydrogen         H2
Inclusion of t

[2021-09-12 10:36] fewieden commented on #76
Hi @nirvine, you can already specify price only, see the example below:

[code]

![nsw-price-only](https://user-images.githubusercontent.com/9334168/132984275-cfa62389-f8d4-422e-aca0-e197bca7fcba.png)

I will mark this issue for the additional fuel types as pull request welcome, as I don't have much time myself.

[2021-09-12 10:42] fewieden commented on #68
@nirvine I just tried a location in Tasmania. The closest location I got was hundreds of km away at the southern border of New South Wales.

Therefore I think the module needs to be adjusted in order to support Tasmania.

[2021-09-12 21:50] nirvine commented on #76
I worked out why I was not seeing price - I had edited the nsw.js file to show P98 instead of deisel, but had not changed the value in both places in the file. Fixed, thanks.

[2021-09-30 15:38] KopiTubruk opened #77 "CERT_HAS_EXPIRED"
Platform (Hardware/OS): Rasperian

Node version: newest

MagicMirror version: newest

Module version: newest

Description of the issue:

I can't get any prices from tankekoenig. Fetches data ends up with: FetchError: request to https://creativecommons.tankerkoenig.de/json/list.php?lat=<private>&lng=<private>&rad=15&type=all&apikey=xxxxxx-xxxx-x-xxxxxx-xxx&sort=dist failed, reason: certificate has

[2021-10-01 08:08] mazim-co commented on #77
Same here. Even with a new API it doesn't work anymore.

[2021-10-01 20:40] fewieden commented on #77
@KopiTubruk @mazim-co this is caused by the expiration of a root certificate from lets encrypt https://twitter.com/letsencrypt/status/1443621997288767491

You should get the latest MagicMirror release to fix it https://github.com/MichMich/MagicMirror/releases/tag/v2.17.1

[2021-10-17 09:39] Quarx64 commented on #77
@Softyathome
Add the line
process.env.NODE_TLS_REJECT_UNAUTHORIZED;
above
const BASE_URL = 'https://creativecommons.tankerkoenig.de/json';
and change
const BASE_URL = 'https://creativecommons.tankerkoenig.de/json';
to
const BASE_URL = 'http://creativecommons.tankerkoenig.de/json';
in apis/tankerkoenig.js

[2021-10-17 15:28] Softyathome commented on #77
Hi Quarx64,
thanks for your reply, but this won't work for me - still just "Load" to see after
pm2 restart mm

Here the part out of the tankerkoenig.js
*** SNIP ***********************************************************
/**
 * @external geolib
 * @see https://www.npmjs.com/package/geolib
 */
const geolib = require('geolib');

process.env.NODE_TLS_REJECT_UNAUTHORIZED;
const BASE_URL = 'http://crea

[2021-11-15 20:05] Pika106 commented on #77
Doesn´t work for me.... Set up a complete new system and it won´t load the stations....
...edited the tankerkoenig.js and the same problem here

"electron": "^13.5.1"

"name": "magicmirror",
"version": "2.17.1",

[2021-12-15 10:44] tk273 opened #78 "Module not running"
Platform (Hardware/OS): Pi 3/Raspios 21/10/30

Node version:

MagicMirror version: 3.2

Module version: actually/install for one week

Description of the issue:
The Modul is not running. Where is the Problem, when to paste "shortenText" comes Mirror error, when to paste "stationsIds" comes Mirror error, when delete the second line (stationID + shortenText) than work the modul. Can you help me? Did

[2022-01-09 10:43] Softyathome commented on #77
On a PI4 i've installed everything new.
Update node to version 17 and then with the script from sdetweil the basic MM (2.18) install.
After that i've tried MMM-Fuel (with my api, and lat. etc.), ending  with "loading" on my MM.
I've fixed that with npm install geolib.
After that MMM-Fuel works as befor.
Greets
Jens

[2022-01-21 05:08] fewieden commented on #77
@Softyathome running `npm install geolib` shouldn't be required. It is part of the package.json file. If you follow the installation instructions of the module it should already be downloaded.

[2022-01-21 05:24] fewieden commented on #78
@tk273 you have a couple of syntax issues here.

-  Every config option should have a comma at the end, e.g.

[code]

- Strings have to be surrounded by single or double quotes, e.g.

[code]

- One-dimensional arrays should have their items comma-separated and within one pair of square brackets, e.g.

[code]

You could also run the command `npm run config:check` in the MagicMirror project to check

[2022-02-13 08:55] #78 closed

[2022-02-13 08:56] #77 closed

[2022-02-20 16:41] moscito1010 opened #82 "rotate between diesel, e5, e10, price?"
Platform (Hardware/OS):

Node version:

MagicMirror version:

Module version:

Description of the issue:

[2022-02-24 05:10] fewieden commented on #82
@moscito1010 currently the module only supports rotating between distance and one fuel type

[2022-03-13 20:33] leovandavart commented on #75
is there any news yet

the second gas station has unfortunately the address as name

I would also like to show the company/brand because that is the correct name the name is HEM
![tanken](https://user-images.githubusercontent.com/51362702/158078024-1d649362-0f8e-4187-9ffa-de4f01aefa96.PNG)

tankerkönig unfortunately has the wrong name

  {
    "id": "e1a15081-24be-9107-e040-0b0a3dfe563c",
    "nam

[2022-03-19 09:13] fewieden commented on #75
@MacG-DD @leovandavart I am currently working on the next version of the module which also contains a new config option `showBrand`.

Either you wait until it is released or you can test the beta version on the develop branch.

[code]

[2022-03-19 09:18] fewieden commented on #53
@TheStormbringer this was implemented a while ago, see config options for [tankerkönig](https://github.com/fewieden/MMM-Fuel#tankerkoenig-germany-only).

[2022-03-19 09:18] #53 closed

[2022-04-06 14:51] RexFlymo opened #85 "MMM-Fuel showing undfined"
Platform (Hardware/OS): RPI

Node version: 16.14.2

MagicMirror version: 2.19.0

Module version: 2.3.0

Description of the issue: When Magic Mirror starts module briefly show loading then changes to undefined.

config is as follows

            {
                module: "MMM-Fuel",
                position: "bottom_center",
                config: {
                    api_key: "API Key from API.N

[2022-04-07 06:10] fewieden commented on #85
@RexFlymo is there a specific reason that you use v2.3.0 which is still in development (branch develop) since you don't use any of the new features yet?

The last officially released version is v2.2.1 (branch master).

However, I was running both version with your config and got the prices as expected.

Maybe you forgot to update the dependencies switching to v2.3.0.

Do you see any errors in your

[2022-04-07 07:51] RexFlymo commented on #85
I was using version 2.2.1 and only changed to version 2.3.0 to see if it helped resolve the problem. Not entirely sure how to go back.

I get the same issue if I run MM on my RPI or if I access via HTTP from another machine on the network. It shows the module briefly with a "loading" message but then after a couple of seconds goes to undefined.

Looking at the pm2 logs there are some errors coming

[2022-04-07 12:25] RexFlymo commented on #85
After more experimenting I decided that a complete clean install of Raspian and Magic Mirror was called for. I now have this working.

My conclusion is that at some stage I have either removed or missed on of the dependencies.

Thank you very much for helping me with this as much as you could and for providing what looks to be an awesome module.

Anyone with a similar issue in the future should st

[2022-04-07 12:25] #85 closed

[2022-04-07 13:11] RexFlymo opened #86 "Currency Format for AUD"
Is there anyway to change currency format.

The way the prices are formatted they are actually showing a price 100 times higher than it should be.

The pricing for Australia (NSW) currently shows as A$176.900

This is confusing as the pricing should be 176.9c and only be shown to one decimal places as this is how fuel prices are displayed in Australia.

[2022-04-08 15:45] fewieden commented on #85
@RexFlymo thank you for your donation.

A general tip for investigating issues with a specific module is to disable all other modules in the config to test the module in isolation, e.g.

[code]

The error from the logs indicates that there were multiple instances of MagicMirror running. There are commands, e.g. `sudo lsof -i:8080` to check which process is using up the port 8080 and then you can k

[2022-04-08 18:34] RexFlymo commented on #85
I did think after I posted the logs that running just the one module and getting it working would be better but instead of just disabling the other modules I choose to start with a clean install. Mainly as I believe that due to my inexperience I may have caused issues with some of the changes I had made experimenting with different modules.

That makes sense and I think I know how I ended up with

[2022-04-08 18:41] RexFlymo commented on #86
I believe this is related to the way that fuel prices are displayed in Australia.

I think that the NSW API is returning a value of 176.9 which the module it treating as being an AUD value when it is in fact the value in cents with one decimal place. This would be due to the way that fuel prices are displayed in Australia where for some reason we don't show the price in dollars only ever in cents.

[2022-04-08 20:18] fewieden commented on #86
@RexFlymo I'm converting now the value correctly to Australian dollars in my work in progress branch develop.

![image](https://user-images.githubusercontent.com/9334168/162522064-31364c7a-4533-42b8-baed-01c94e3578e0.png)

Since I'm planning to add more changes before releasing the new version to master you probably want to switch to the develop branch in the meantime.

[code]

[2022-04-08 22:25] RexFlymo commented on #86
That looks great.

Thank you again for such a great module and for supporting it so well.

[2022-04-08 22:52] RexFlymo commented on #86
Not sure why but I am getting an error when changing to the develop branch after entering git checkout develop I am getting the following error message.

error: pathspec 'develop' did not match any file(s) known to git

[2022-04-09 03:02] RexFlymo commented on #86
Can't seem to change to the develop branch I keep getting the error "error: pathspec 'develop' did not match any file(s) known to git" when I run the git checkout develop command.
When I run git branch I only see * master.

[2022-04-09 11:01] fewieden commented on #86
@RexFlymo try to run `git fetch` to sync the repository before `git checkout develop`

[2022-04-09 11:20] mishu28nmv opened #88 "StationIds not working"
Platform (Hardware/OS): Raspberry 3B+
MagicMirror version: 2.18
Module version: 2.2.1
Description of the issue: When I try to use just 3 stations with Ids and no radius, the module returns other stations. This is my config:
[code]
Tried out also with radius 0 or 10. Then they show, but don't update. Can someone help me?

[2022-04-09 12:19] RexFlymo commented on #86
Doesn't seem to make a difference still get the same error.

[2022-04-11 06:39] fewieden commented on #86
@RexFlymo

- How did you change to develop before you started the complete reinstall of MagicMirror?
- How did you install the module? `git clone ...`?

There are more commands to fetch the list of remote branches:
[code]

[2022-04-11 06:43] fewieden commented on #88
@mishu28nmv if you want only the stations from your list and no radius search you have to specifically set `radius: 0`.

Since you said you tried that already, I have to check why it is not updating.

[2022-04-11 08:41] mishu28nmv commented on #88
I will check also today to see if the numbers change. I will write here again. Thanks

[2022-04-11 11:11] RexFlymo commented on #86
Now fixed.

I was being lazy when I did the reinstall and reused the git clone command from another module resulting in the following
 git clone --depth=1 https://github.com/fewieden/MMM-Fuel
I didn't notice or understand the impact of the depth = 1 option. Have now cloned it without this option using this option and everything is working as expected and I am now running the develop branch. The fu

[2022-04-11 11:11] #86 closed

[2022-04-11 13:48] fewieden commented on #86
No worries, glad you like my modules

[2022-04-23 14:26] fewieden commented on #75
@MacG-DD @leovandavart it's now released in version 2.3.0 on master

[2022-04-23 14:26] #75 closed

[2022-04-23 14:27] fewieden commented on #45
@Colemata I just released the new version 2.3.0 with support for USA

[2022-04-23 14:27] #45 closed

[2022-04-23 14:27] fewieden commented on #52
@MemBoi I just released the new version 2.3.0 with support for USA

[2022-04-28 23:29] Ray94520 opened #91 "Spacing"
Good job on the fuel module. Everything seems to be working fine
I am in the United States. So I am using ZIP Code

The only problem I'm having is separating
cheapest gas station  Regular mid grade

I wanted to separate them like this
cheapest gas station      Regular  mid grade
so there is more profound.  space between the 2

How can I do that
Ray

[2022-05-02 16:23] fewieden commented on #88
@mishu28nmv does your issue still persist?

[2022-05-02 16:24] fewieden commented on #91
@Ray94520 can you add a screenshot?

[2022-05-03 08:31] mishu28nmv commented on #88
Yes. It is updating when I start the MM, but after that it stays like that the hole time!

[2022-05-03 10:22] Ray94520 commented on #91
I'm sorry that has never worked for me
every time I try it it always says it's too big to post. I've even tried to make it smaller, but still run into the same problem. I do not know what I'm doing wrong. I've never been lucky at doing this

But for whatever reason I can't seem to space (cheapest gas station) further apart from (Regular) (mid grade)

[2022-05-03 16:57] Ray94520 commented on #91
Okay that looks exactly what I'm looking for. I'm not in town right now. So when I get home I'll give it a try and let you know.
I appreciate your help.
Ray

[2022-05-03 18:31] fewieden commented on #88
@mishu28nmv I was able to reproduce the issue. It seems to be related to stationIds. When I was using the radius option the same gas stations were updating.

I will be gone for a couple of days and will try then to pinpoint what the exact issue is.

[2022-05-08 14:41] fewieden commented on #91
@Ray94520 the modules usually take up 100% of the regions. Here is a good overview of all available regions https://forum.magicmirror.builders/topic/286/regions. There you can see that _bottom_center_ only takes the center part, whereas _middle_center_ is full width.

[2022-05-08 16:33] Ray94520 commented on #91
Okay will that's useful information. Thanks for the input. I will play around with those measurements and see what happens.
But I'm pretty happy with the bottom center. It seems to work for me.

Thank you for your help and input. I appreciated
Ray

[2022-05-08 21:07] #91 closed

[2022-05-12 04:37] mishu28nmv commented on #88
Yes. It is working now. Thank you!

[2022-05-12 04:37] #88 closed

[2022-05-12 15:43] fewieden commented on #88
@mishu28nmv I just released v2.3.1 with this fix to master so you can switch the branch back again.

[2022-05-12 16:40] mishu28nmv commented on #88
And how can I do that? I'm not so good with coding :)

[2022-05-13 06:54] fewieden commented on #88
@mishu28nmv you can run the previous commands but replacing the `develop` branch with `master`.

[code]

[2022-05-13 08:56] mishu28nmv commented on #88
Thanks. I will do that!

[2022-05-24 16:04] fewieden commented on #7
@Dom1n1c @Sennahoj82 in case you are still using this module I just implemented fading brightness. To check it out until it is released you can run the following commands.

[code]

[2022-06-17 19:17] xIExodusIx opened #93 "Installation link missing!"
Platform (Hardware/OS):
Raspberry Pi 3 B+ /  Raspberry PI OS (32 Bit) Bullseye
Node version:
16.15.1
MagicMirror² version:
2.19.0
Module version:

Description of the issue:
Can't find the Github link for installation. The "git clone https://github.com/...." is  not there. So installation for me is not possible:

[2022-06-18 13:39] xIExodusIx commented on #93
Installed mmpm and after  that I installed MMM-Fuel using mmpm.
This issue can be closed.

[2022-06-21 06:26] fewieden commented on #93
@xIExodusIx it depends on the cloning method of your choosing, e.g. https, ssh, ...

You can get the correct link for all modules by clicking on the green code button on the repository like so:

![image](https://user-images.githubusercontent.com/9334168/174730752-e48c97f1-3a6f-4a49-b972-17f3aec6b9b8.png)

[2022-06-21 06:26] #93 closed

[2022-08-13 06:34] fewieden commented on #68
@nirvine after a long back and forth with the API provider they finally fixed a bug in their API v2. The module is now supporting Tasmania, thanks for bringing this to my attention.

[2022-08-13 06:35] fewieden commented on #7
@Dom1n1c @Sennahoj82 I just released the new version with the fading config option

[2022-08-13 06:35] #7 closed

[2022-08-14 08:52] nirvine commented on #68
Thank you for persevering!

[2022-10-02 14:51] sdetweil opened #99 "Install MM 2.21 (oct 1) user find module not found fs/promises"
should that be ?
[code]

[2022-10-02 15:24] sdetweil commented on #99
https://forum.magicmirror.builders/topic/17246/mmm-fuel-black-screen

the suggestion above worked

[2022-10-02 15:38] sdetweil opened #100 "MM 2.21 again, now sees certificate expired, electron v19"
0|mm     | MMM-Fuel: Failed to retrieve prices FetchError: request to https://creativecommons.tankerkoenig.de/json/list.php?lat=51.40488&lng=8.06148&rad=5&type=all&apikey=xxxxxx-xxxxx-xxxxx-xxxxx&sort=dist failed, reason: certificate has expired
0|mm     |     at ClientRequest.<anonymous> (/home/pi/MagicMirror/modules/MMM-Fuel/node_modules/node-fetch/lib/index.js:1491:11)
0|mm     |     at ClientR

[2022-10-05 03:49] sdetweil commented on #100
we closed this as a mismatch of code somehow, upgrade install failed, sort of..

[2022-10-05 03:49] #100 closed

[2022-10-16 14:24] fewieden commented on #99
@sdetweil it should be compatible with the node version (16.15.1) of the user, it was introduced in node 14.

https://nodejs.org/dist/latest-v16.x/docs/api/fs.html#promises-api

![image](https://user-images.githubusercontent.com/9334168/196040712-42589305-f6f9-43b5-bd4d-8921dfc53781.png)

[2022-10-16 15:23] sdetweil commented on #99
I understand, but user had node 14, so it 'shoukd' have worked, but didnt

[2022-11-13 16:46] Tom-Hirschberger opened #101 "Enhancement: Replace hard coded fading with CSS mask"
Hi,

a user asked of how to remove the fading of the table content in the forum today.
I saw that you hard coded the opacity settings as style to the nunjucks template while i investigated the problem.
So there is no easy way for "normal" users to configure the fading as even if something else is set in the "custom.css" the values get ignored as there are values set to the elements directly.

Mayb